<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stardew Valley Tracker</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <div class="header-content">
        <img src="/images/chicken.png" alt="brown chicken" class="header-img">
        <h1>STARDEW VALLEY TRACKER</h1>        
    </div>
  </header>
  <nav class="navbar">
    <ul>
      <li><a href="/home">HOME</a></li>
      <li class="dropdown">
        <a href="/rooms" class="dropdown-btn">BUNDLES</a>
        <div class="dropdown-content">
          <a href="/rooms/6617915035f95e6d45fe8555">CRAFT ROOM</a>
          <a href="/rooms/6617912635f95e6d45fe8547">PANTRY</a>
          <a href="">BULLETIN BOARD</a>
          <a href="">FISH TANK</a>
          <a href="/rooms/6617918135f95e6d45fe8560">BOILER ROOM</a>
          <a href="">VAULT</a>
          <a href="/bundles">ALL BUNDLES</a>
        </div>
      </li>
      <li>
        <a href="/items">ITEMS</a>
      </li>
      <% if (user) { %>
        <li><a href="/trackers">TRACKED BUNDLES</a></li>
        <li><a>FAV ITEMS</a></li>
        <li class="login"><a href="/logout">LOG OUT</a></li>
      <% } else { %>
        <li class="login"><a href="/auth/google">LOG IN</a></li>
      <% } %>
    </ul>
  </nav>