<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<div class="btn-container">
    <% if (user) { %>
        <a href="/bundles/new" class="new-item-btn"><button>Add Bundle</button></a>
    <% } %>
    <a href="/bundles" class="new-item-btn"><button>All Bundles</button></a>
</div>

<div class="bundle-rooms-container">
    <div class="room-container">
        <p>CRAFT ROOM</p>
        <a href="/rooms/6617915035f95e6d45fe8555"><img src="/images/bundles/craftRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>PANTRY</p>
        <a href="/rooms/6617912635f95e6d45fe8547"><img src="/images/bundles/pantryRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BULLETIN BOARD</p>
        <a href="/rooms/661812458e71dc3e75a4f558"><img src="/images/bundles/bulletinBoardRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>FISH TANK</p>
        <a href=""><img src="/images/bundles/fishTankRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>VAULT</p>
        <a href=""><img src="/images/bundles/vaultRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BOILER ROOM</p>
        <a href="/rooms/6617918135f95e6d45fe8560"><img src="/images/bundles/boilerRoom.png" alt="" class="bundle-room-img"></a>
    </div>
</div>

<%- include('../partials/footer') %>