<%- include('./partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<div class="home-container">
    <div>
        <h3>Welcome to Stardew Valley Tracker!</h3>
        <p>Whether you're a cozy gamer or a speed runner, finishing the Community Center can be a daunting task. Trying to complete the 6 rooms, with up to 6 bundles each, that's over 100 items you need! This app aims to make it easier to track the specific bundles you want and favorite items in the game.You no longer have to keep flipping through each page in the menu to see which bundles you've completed and which items you still need.</p>
    </div>
    <div class="home-img-container">
        <img src="/images/communityCenter.png">
    </div>
</div>

<div class="github-link">
    <a href="https://github.com/jtnguyen45/stardew-valley-tracker">GitHub Repo</a>
</div>
<%- include('./partials/footer') %>