<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<a href="/trackers/new" class="new-tracker-btn"><button>Add Tracker</button></a>

<%- include('../partials/footer') %>