@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tac+One&display=swap');

:root {
  --box-shadow: #8d8d8d;
  --dark-brown: #c37230;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #f0fbff;
  cursor: url(/images/cursors/sdvCursor.png), auto;
}

header {
  font-family: "Lobster", monospace, sans-serif;
  font-size: 3vmin;
  position: relative;
  padding: 3vmin 5vmin;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/stardewHeader.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  opacity: 0.7;
}

a:hover, button:hover {
  cursor: url(/images/cursors/sdvHoverCursor.png), auto;
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-img {
  height: 50px;
  margin-right: 2vmin;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  background-color: #85d7f9;
}

.navbar li {
  float: left;
}

.navbar li:hover {
  background-color: #35a2f5;
}

.navbar li a, .dropdown-btn {
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px 20px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  background-color: #def2fa;
  text-align: left;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: pink;
}

li.login {
  float: right;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Tac One", monospace, sans-serif;
  font-size: 35px;
  color: var(--dark-brown);
  text-shadow: 0.1vmin 0.1vmin 0.1vmin var(--box-shadow);
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 35%;
  height: 50px;
  background-image: url('/images/labelBanner.png');
  background-size: 100% 100%;
  background-position: center;
}

.bundle-rooms-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 45%);
  width: 90%;
  margin: 5vmin auto;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
}

.room-container {
  margin: 3vmin;
  text-align: center;
}

.bundle-room-img {
  width: 100%;
}

.item-container, .main-bundle-container {
  margin: 10px 13%;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
}

.item-form, .main-bundle-form {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  padding: 30px;
}

#add-item-btn {
  width: 10vmin;
  padding: 5px 0;
}

.item-name {
  text-transform: capitalize;
}

#all-items-container {
  margin: 10px 7%;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
  clip-path: inset(100px 0 100px 0);
}

#all-bundles-container {
  margin: 10px 10%;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
}

#all-bundles-container img {
  width: 100px;
}

#all-items-table {
  margin: 0 auto;
  padding: 180px 30px;
  justify-content: center;
  border-collapse: separate;
  border-spacing: 25px;
}

#all-bundles-table {
  margin: 0 auto;
  padding: 60px 30px;
}

#item-container, #bundle-container, #room-container {
  margin: 0 30%;
  padding: 10px 25px;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
}

#bundle-container, #room-container {
  text-align: center;
}

#room-container {
  margin: 0 10% !important;
  padding-bottom: 50px;
}

.bundle-img {
  margin-top: 30px;
}

.room-img {
  margin-top: 60px;
  width: 60%;
}

.bundle-table, .item-table {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.edit-delete-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.edit-delete-container button {
  padding: 5px 10px;
  border-radius: 1vmin;
  border-color: var(--dark-brown);
  font-family: "Tac One", monospace, sans-serif;
  font-size: 22px;
  background-color: #f5e5ca;
  color: var(--dark-brown);
}

.btn-container {
  text-align: center;
}

.new-item-btn button {
  padding: 5px 10px;
  border-radius: 1vmin;
  border-color: var(--dark-brown);
  font-family: "Tac One", monospace, sans-serif;
  font-size: 22px;
  background-color: #f5e5ca;
  color: var(--dark-brown);
  box-shadow: 0.3vmin 0.3vmin 0.3vmin var(--box-shadow);
}

.new-item-btn button:hover {
  transform: translateY(-0.5vmin);
}

.home-container {
  margin: 5vmin 10%;
  padding: 20px 50px;
  font-size: 20px;
  background-image: url('/images/widgetBackground.png');
  background-size: 100% 100%;
  background-position: center;
}

.home-img-container {
  text-align: center;
}

.github-link {
  text-align: center;
  font-family: "Tac One", monospace, sans-serif;
  font-size: 20px;
}

.github-link a {
  color: var(--dark-brown);
  padding-bottom: 20px;
  text-decoration: none;
}

.item-img-container {
  text-align: center;
}

.item-img-container img {
  width: 60px;
  margin-top: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  height: 20px;
  margin-top: 10px;
  border-radius: 3vmin;
}

.progress {
  background-color: #4caf50; /* Green */
  height: 100%;
  border-radius: 3vmin;
}