@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

header {
  font-family: "Reddit Mono", monospace, sans-serif;
  font-size: 3.5vmin;
  background-color: pink;
  padding: 3vmin 5vmin;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}