<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<div class="bundle-rooms-container">
    <div class="room-container">
        <p>CRAFT ROOM</p>
        <a href=""><img src="/images/bundles/craftRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>PANTRY</p>
        <a href=""><img src="/images/bundles/pantryRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BULLETIN BOARD</p>
        <a href=""><img src="/images/bundles/bulletinBoardRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>FISH TANK</p>
        <a href=""><img src="/images/bundles/fishTankRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>VAULT</p>
        <a href=""><img src="/images/bundles/vaultRoom.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BOILER ROOM</p>
        <a href=""><img src="/images/bundles/boilerRoom.png" alt="" class="bundle-room-img"></a>
    </div>
</div>

<%- include('../partials/footer') %>