<%- include('../partials/header') %>

<h1><%= title %></h1>
<div class="bundle-rooms-container">
    <div class="room-container">
        <p>CRAFT ROOM</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>PANTRY</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BULLETIN BOARD</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>FISH TANK</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>BOILER ROOM</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
    <div class="room-container">
        <p>VAULT</p>
        <a href=""><img src="/images/chicken.png" alt="" class="bundle-room-img"></a>
    </div>
</div>

<%- include('../partials/footer') %>